@import url("https://fonts.googleapis.com/css2?family=Sarabun&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Sarabun", sans-serif !important;
  background: #fafaf2 !important;
}

.flex {
  display: flex;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
}
